body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://res.cloudinary.com/demogorgonn/image/upload/v1660280707/chocolate-dachshund-perro-o-salchicha-fondo-de-patr_C3_B3n-sin-fisuras-con-corazones-y-huellas-pezu_C3_B1a-cachorro-dibujos-animados-199860476_qnr7gp.jpg') ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
